<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    {{>header}}
    <h1>hello {{name}}</h1>
    <p>is {{is}} </p>

    <form>
        <input placeholder="Location">
        <button type="submit">Search</button>
    </form>
    <p id="message-1"></p>
    <script src="/main.js"></script>
</body>
</html>